@import "./reset";
@import "config/colors";
@import "config/size";
@import "modules/header";
@import "modules/articles";
@import "modules/text-box";
@import "modules/sign-box";


*{
  box-sizing: border-box;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.main-view{
  width: 70vw;
  height: 100vh;
  padding-top: 40px;
  margin: 0 auto;
  border-right: 1px solid skyblue;
  border-left: 1px solid skyblue;
  overflow: scroll;
}

.article-form{
  height: 100px;
  padding: 20px 40px;
  border: 1px solid skyblue;
}

.create-message{
  display: flex;
}

.input-box{
  width: 100%;
  position: relative;
  &__text{
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    margin-right: 10px;
  }
}

.post-btn{
  height: 50px;
  width: 100px;
  padding: 0 30px;
  margin-left: 15px; 
  background-color: skyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn{
  height: 50px;
  width: 200px;
  padding: 0 30px;
  margin-left: 15px; 
  background-color: skyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}